$conditionsHeight: 32px;

.conditions {
    display: flex;
    line-height: 32px;
    margin: 12px 0 16px;

    .conditions-label {
        width: 68px;
    }

    .input-area {
        flex: 1;
        display: flex;

        .el-input, input {
            height: 32px;
        }

        input {
            border-radius: 2px 0 0 2px;
        }

        .el-button {
            padding: 8px 16px;
            font-size: 12px;
            border-radius: 0 2px 2px 0;
        }
    }
}

.dialog-list-table {
    height: 324px;
    padding-bottom: 12px;
}

.dialog-lists {
    display: flex;
    justify-content: space-between;

    .dialog-list {
        width: 400px;

        .title {
            font-size: 16px;
            height: 24px;
            line-height: 24px;
        }

        .conditions {
            margin-top: 8px;
        }

        .footer {
            padding: 24px 0 36px;
            display: flex;
            justify-content: flex-end;
        }
    }
    .dialog-list:first-child {
        margin-right: 12px
    }
}

